&-header {
  background: $gray800;
  display: flex;
}

&-logo {
  margin: .25rem 2rem .25rem .5rem;
}

&-nav1 {
  background: $gray800;
  display: flex;
    flex-direction: column;
  opacity: 1;
  position: absolute;
    right: 0;
    top: 0;
  transition: opacity .25s ease-in-out;
  > a {
    color: $gray300;
  }
  &-container {
    display: flex;

    .btn-open {
      &[aria-expanded='false'] {
          + .guide-nav1 {
          opacity: 0;
        }
      }
    }
  }

  @include viewportLarge {
    flex-direction: row;
    position: static;
    > a {
      align-items: center;
      border-right: 1px solid $gray400;
      display: flex;
      padding: 0 .5em;
      text-decoration: none;
    }
    .btn-close {
      display: none;
    }
  }
}
