{%- macro dropdown(menuId, launcherText, links=[]) -%}
<nav class="dropdown">
  <button class="dropdown-launcher" id="{{ menuId }}" aria-haspopup="true" aria-expanded="false">{{ launcherText }}</button>
  <div class="dropdown-menu" aria-labeledby="{{ menuId }}">
    {%- for link in links -%}
      <a href="{{ link.href }}">{{ link.text }}</a>
    {%- endfor -%}
  </div>
</nav>
{%- endmacro -%}
