<nav class="dropdown">
  <button class="dropdown-launcher" id="{{ menuOpts.menuId }}" aria-haspopup="true" aria-expanded="false">{{ menuOpts.launcherText }}</button>
  <div class="dropdown-menu" aria-labeledby="{{ menuOpts.menuId }}">
    <a href="foo">Test link</a>
    {% for link in menuOpts.links %}
      <a href="{{ link.href }}">{{ link.text }}</a>
    {% endfor %}
  </div>
</nav>
