{# Import the Macro #}
{%- from "patterns/dropdown/dropdown.njk" import dropdown -%}

{# Send arguments to the imported Macro #}
{{ dropdown(menuId='menu1', launcherText='Visit layouts', links=[{href: 'foo', text: 'Link text'}, {href: 'bar', text: 'Link two'}]) }}
