{% extends "layouts/guide/guide.njk" %}

{% set page = {
  title: "Design Principles"
} %}

{% block body %}
  <p>Design principles help put everyone involved in the design process on the same page. &ldquo;Good design&rdquo; should not be subjective to individual opinions. Instead, designers and stakeholders should identify the &ldquo;what&rdquo; and the &ldquo;why&rdquo; of the project, and make design decisions based on what best serves those goals.</p>
{% endblock %}
