{% extends "layouts/guide/guide.njk" %}
{% from "layouts/guide/patterns/thumbnails/_thumbnails.njk" import thumbnails %}
{% set page = { title: 'Page Layouts' } %}
{% set items = [
  {
    href: 'layouts/home.html',
    src: 'layouts/home.png',
    alt: 'Homepage'
  },
  {
    href: 'layouts/dashboard.html',
    src: 'layouts/dashboard.png',
    alt: 'Dashboard'
  }
] %}

{% block body %}
{{ thumbnails(items) }}
{% endblock %}
