{% extends "layouts/guide/guide.njk" %}

{% set page = {
  title: "Typography"
} %}

{% block body %}
  <p>Paragraph describing chosen typefaces, and a rationale for how they reinforce the design principles.</p>
  <p class="guide-typography-sample">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz</p>
  <h1>Page title style</h1>
  <p>Body copy is set in font_name. Add a rationale for how this style reinforces the design principles.</p>
  <h2>Main heading style</h2>
  <p>Body copy is set in font_name. Add a rationale for how this style reinforces the design principles.</p>
  <h3>Subheading style</h3>
  <p>Body copy is set in font_name. Add a rationale for how this style reinforces the design principles.</p>
  <h4>Sub-subheading style</h4>
  <p>Body copy is set in font_name. Add a rationale for how this style reinforces the design principles.</p>
  <ul>
    <li>Unordered list sample</li>
    <li>A second bullet point</li>
  </ul>
  <p>More body copy. Lorem ipsum dolor sit amet, consecteteur adipiscing elit.</p>
  <ol>
    <li>Ordered list sample</li>
    <li>Second list item</li>
  </ol>
  <p>More body copy. Lorem ipsum dolor sit amet, consecteteur adipiscing elit.</p>
  <blockquote cite="http://">
    Blockquote sample
  </blockquote>
{% endblock %}
