<!doctype html>
<html lang="en-us" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>"New Design Project Scaffold"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css" type="text/css" />

    {% block style %}{% endblock %}
  </head>
  <body class="ns-body">
    <nav class="ns-nav1">
      <a href="design-principles.html">Design principles</a>
      <a href="style-guide.html">Style guide</a>
      <a href="homepage.html">Homepage</a>
      <a href="content-page.html">Content page</a>
      <a href="design-patterns.html">Design patterns</a>
    </nav>
    {% block body %}{% endblock %}
  </body>
</html>
