{% extends "html.njk" %}

{% block style %}
  <link rel="stylesheet" href="css/main.css">
{% endblock %}

{% block body %}
<div class="guide-links">
  <a href="design-principles.html">Design principles</a>
  <a href="style-guide.html">Style guide</a>
  <a href="homepage.html">Homepage</a>
  <a href="content-page.html">Content page</a>
  <a href="design-patterns.html">Design patterns</a>
</div>
{% endblock %}
