{% import "patterns/buttons/btn.njk" as btn %}
<!doctype html>
<html lang="en-us" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/guide.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <script type="text/javascript" src="js/core.js" async></script>
  </head>
  <body>
    <header class="guide-header">
      <nav class="guide-nav1">
        {{ btn.close() }}
        <a href="/">Design Principles</a>
        <a href="/style-guide.html">Style Guide</a>
        <a href="/pattern-library.html">Pattern Library</a>
        <a href="/page-layouts/">Page Layouts Gallery</a>
        <a href="/prototype">Prototype</a>
      </nav>
      <h1>{{ page.title }}</h1>
    </header>
    <main class="guide-content" id="contentRoot">
    {% block body %}{% endblock %}
  </main>
  </body>
</html>
