$primaryColor200: #333;
$primaryColor300: #333;
$primaryColor400: #333;
$primaryColor500: #333;
$primaryColor600: #333;
$primaryColor700: #333;
$primaryColor800: #333;

$secondaryColor200: #333;
$secondaryColor300: #333;
$secondaryColor400: #333;
$secondaryColor500: #333;
$secondaryColor600: #333;
$secondaryColor700: #333;
$secondaryColor800: #333;

$errorColor500: #888;

$successColor500: #888;

$mutedColor200: #282828;
$mutedColor300: #424242;
$mutedColor400: #666666;
$mutedColor500: #888;
$mutedColor600: #a0a0a0;
$mutedColor700: #c2c2c2;
$mutedColor800: #e0e0e0;
$mutedColor900: #f8f8f8;
